include README.md
include LICENSE
include requirements.txt
recursive-include templates *.yml *.j2 *.yaml *.md
recursive-include templates *.js *.ts *.tsx *.json *.css *.conf
recursive-exclude templates __pycache__
recursive-exclude templates *.pyc
recursive-exclude templates *.pyo

